<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Recommendation System</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="Text.html">Text Query</a></li>
            <li><a href="image.html">Image Query</a></li>
            <li><a href="product.html">Product Image Upload</a></li>
        </ul>
    </nav>

    <div class="container">
        <!-- Content will go here -->
    </div>

</body>
</html>
